{% extends 'main/base.html' %}
{% block content %}
    <h1>{{abt}}</h1>
    <center>
        <div>
            <h3>Somos Una Pagina Encarga De Dar Informacion
                De Lo Que Esta Pasando Con el Nuevo Virus
                'Viruela Del Mono',Esta Pagina Esta Creada Por
                2 Niños De Secundaria Y Queremos Sobresalir Y Dar
                Informacion Sobre Este Nuevo Virus, Nos Apoyamos De
                Alguna Parte De Nuestra Informacion Sobre El Virus,
                Y Apoyariamos Que Nos Contacten Para Poner Publicidad
                De Sus Productos:


            </h3>

            <a href="{% url 'contacto' %}">Contacto</a>
        </div>
    </center>
{% endblock %}
