{% extends 'main/base.html' %}
{% block content %}
{% load static %}
    <h1>{{title}}</h1>
    <div>
        <h3>¿Qué Es La Viruela Del Mono?</h3>
        <h5> Es una enfermedad causada por un virus, al que se conoce
            como el de la viruela del mono. Se trata
            de una enfermedad zoonótica viral, lo que significa
            que puede transmitirse de animales a humanos.
            También se puede propagar de persona a persona. Curiosamente,
            la enfermedad se llama así porque se detectó en varios simios de un laboratorio en 1958. Sin embargo, la mayoría de los animales susceptibles de contraer la dolencia y después contagiar a las personas son roedores, como las ratas gigantes de Gambia
            , los lirones o los perros de las praderas.</h5>

    </div>

    <img src="{% static 'images/img_mono1.webp'%}" alt="" >
    <br>
    <br>
    <div>
        <h3>¿Dónde Se Encuentra Típicamente?</h3>
        <h5>La viruela del mono se encuentra comúnmente en las selvas tropicales de
            África central y occidental, donde viven los animales que pueden ser portadores del virus y es endémica.
            En algunas ocasiones, se puede encontrar también en personas fuera de esas regiones africanas que podrían haberse contagiado después de visitarlas.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Cuáles Son Los Síntomas?</h3>

        <h5>Los síntomas generalmente incluyen fiebre, dolor de cabeza intenso, dolores musculares, dolor de espalda, poca energía, ganglios linfáticos inflamados y erupciones o lesiones en la piel.

            La erupción generalmente comienza en el primer o tercer día del comienzo de la fiebre.
            Las lesiones pueden ser planas o ligeramente elevadas, llenas de líquido transparente o amarillento
            , para después formar costras, secarse y caerse. El número de lesiones en una persona varía entre unas pocas y varios miles
            . La erupción tiende a presentarse en la cara
            , las palmas de las manos y las plantas de los pies. También se pueden encontrar en la boca, los genitales y los ojos.

            Los síntomas suelen durar entre dos y cuatro semanas y desaparecen por sí solos sin tratamiento. Si cree que sus síntomas podrían estar relacionados
            con la viruela del mono, contacte a su doctor inmediatamente. Si tuvo contacto cercano con alguien que tiene estos síntomas o sospecha que existe
            la posibilidad de estar infectado comuníquelo a su doctor.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Puede La Gente Morir De Viruela Del Mono?</h3>

        <h5>En la mayoría de los casos, los síntomas de la viruela desaparecen por sí solos en unas pocas semanas, pero en algunas personas pueden provocar complicaciones médicas e incluso la muerte. Los recién nacidos, los niños y las personas con inmunodeficiencias pueden correr el riesgo de sufrir síntomas más graves y morir por la enfermedad.

            Las complicaciones de los casos graves incluyen infecciones de la piel, neumonía,
            confusión e infecciones oculares que pueden provocar la pérdida de la visión.
            Entre el 3% y 6% de los casos identificados en donde la viruela de mono es endémica ha terminado en defunciones.
            Muchos de estos casos son niños o personas que pueden tener otras afecciones de salud.
            Hay que tener en cuenta que estas cifras podrían ser una sobreestimación
            porque la contabilidad de los casos en los países endémicos es limitada.</h5>
    </div>
    <br>
    <img src="{% static 'images/mono2.jpeg'%}" alt="">
    <br>
    <br>
    <div>
        <h3>¿Cómo Se Propaga De Persona A Persona?</h3>

        <h5>Las personas que tienen la enfermedad son contagiosas mientras tienen síntomas
            (normalmente entre las primeras dos y cuatro semanas). Se puede contraer esta afección a través del contacto físico con alguien que tiene síntomas.
            Las erupciones, los fluidos corporales (como fluidos, pus o sangre de lesiones en la piel) y las costras son particularmente infecciosos.
            El contacto con objetos que han estado en contacto con la persona infectada como la ropa, ropa de cama, toallas u objetos como utensilios para comer también pueden representar un foco de infección.

            Pueden resultar también infecciosas las úlceras, lesiones o llagas puesto que el virus puede propagarse a través de la saliva. Por lo tanto, tendremos un alto riesgo de infección si convivimos con personas contagiadas en nuestra casa o si lo hacemos con parejas sexuales. También las personas que trabajan en el sector de la salud están más expuestas.

            El virus puede además transmitirse de una mujer embarazada al feto a través de la placenta, o mediante el contacto de un padre infectado con el niño durante o después del parto a través del contacto de piel con piel.

            Sin embargo, no está claro si las personas que asintomáticas pueden transmitir la enfermedad.

            </h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Quién Está En Riesgo De Contraerla?</h3>

        <h5>Corre mayor riesgo de infección cualquier persona que entre en contacto físico con alguien con síntomas o con un animal infectado. Es probable que las personas que fueron vacunadas contra la viruela tengan cierta protección contra la infección. En 1980 la viruela se convirtió en la primera enfermedad humana en ser erradicada, por lo que se detuvo la vacunación contra esta enfermedad. Por tanto, los más jóvenes son más propensos a contraerla. Sin embargo, las personas que fueron vacunadas contra la viruela también deben tomar precauciones para protegerse a sí mismos y a los demás.

            Pueden sufrir síntomas más graves y de mayor riesgo de muerte los recién nacidos, los niños y las personas con inmunodeficiencias subyacentes. Asimismo, corren alto riesgo de contagio los trabajadores sanitarios debido a la exposición prolongada que tienen con el virus.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Cómo Puedo Protegerme A Mí Mismo Y A Los Demás?</h3>

        <h5>Puede disminuir el riesgo de contagio limitando el contacto con personas que sospechen tener la dolencia o sean casos confirmados.

            Si necesita tener contacto físico con alguien aquejado de esta afección porque es un trabajador de la salud o viven juntos, motive a la persona infectada a aislarse y cubrir cualquier lesión en la piel si puede (por ejemplo, usando ropa sobre el sarpullido). Deberá llevar una máscara médica cuando esté físicamente cerca de ellos, especialmente si tosen o tienen lesiones en la boca. Evite el contacto piel con piel y si tiene algún contacto directo use guantes desechables. Use máscara si tiene que tocar la ropa o ropa de cama de una persona infectada.

            Lávese las manos frecuentemente con agua y jabón o use un desinfectante para manos a base de alcohol, especialmente después de haber entrado en contacto con la persona infectada, o con su ropa (incluyendo sábanas y toallas) u otros elementos o superficies que haya tocado o que puedan haber estado en contacto con su sarpullido o secreciones respiratorias (por ejemplo, utensilios o platos).

            Lave la ropa, toallas y sábanas de la persona contagiada y los utensilios para comer con agua tibia y detergente. Limpie y desinfecte cualquier superficie contaminada y elimine los desechos contaminados (como los apósitos) de manera adecuada.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Los Niños Pueden Contraer La Viruela Del Mono?</h3>
        <h5>Los niños pueden contraerla y suelen ser más propensos a tener síntomas graves que los adolescentes y los adultos. El virus también lo puede transmitir la mujer al feto o a un recién nacido durante el nacimiento o por contacto físico.</h5>
    </div>
    <br>
    <br>

    <div>
        <h3>¿Qué Debo Hacer Si Sospecho Que He Sido Infectado?</h3>
        <h5>Comuníquese inmediatamente con su doctor para obtener asesoramiento, pruebas y atención médica si cree que tiene los síntomas o ha estado en contacto con alguien infectado. Si es posible, aíslese y evite el contacto cercano con otras personas. Lávese las manos frecuentemente y siga los pasos enumerados anteriormente para proteger a los demás del contagio. Su trabajador de la salud le tomará una muestra para analizarla y así poder recibir la atención adecuada.</h5>
    </div>
    <br>
    <img src="{% static 'images/mono3.jpeg'%}" alt="">
    <br>
    <br>
    <div>
        <h3>¿Existe Una Vacuna?</h3>
        <h5>Hay varias vacunas disponibles para la prevención de la viruela que también brindan cierta protección. Recientemente, se desarrolló una vacuna para la viruela (MVA-BN, también conocida como Imvamune, Imvanex o Jynneos) que fue aprobada en 2019 para su uso en la prevención de la viruela del mono y aún no está ampliamente disponible. La OMS está trabajando con el productor de la vacuna para mejorar su acceso. Las personas que han sido vacunadas contra la viruela en el pasado también tendrán cierta protección.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Existe algún tratamiento?</h3>
        <h5>Los síntomas a menudo desaparecen solos sin necesidad de tratamiento. Es importante cuidar la erupción dejándola secar si es posible o de ser necesario cubrirla con un vendaje húmedo para proteger el área. Evite tocar cualquier llaga en la boca o los ojos. Se pueden usar enjuagues bucales y gotas para los ojos siempre que se eviten los productos que contienen cortisona. Para casos graves, puede recomendarse la inmunoglobulina vaccinia (VIG), un antiviral que se desarrolló para tratar la viruela (tecovirimat, comercializado como TPOXX) que también se aprobó para el tratamiento de la viruela del mono en enero de 2022.

        </h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿En Qué Parte Del Mundo Existe Actualmente Un Mayor Riesgo?</h3>
        <h5>Desde 1970, se han localizado casos humanos de viruela del mono en 11 países de África: Benín, Camerún, República Centroafricana, República Democrática del Congo, Gabón, Côte d'Ivoire, Liberia, Nigeria, República del Congo, Sierra Leona y Sudán del Sur.

            Los casos que se dan de manera esporádica en países no endémicos son de personas que se infectaron viajando a países endémicos. Un brote fue causado por contacto con animales importados a las personas con las que convivían.

            En mayo de 2022, se identificaron múltiples casos de viruela del mono en varios países no endémicos. Esto no es lo habitual en los patrones anteriores de la enfermedad. La OMS está trabajando con todos los países afectados para mejorar la vigilancia y brindar orientación sobre cómo detener la propagación y cómo cuidar a las personas infectadas.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Qué Sabemos Sobre El Brote Identificado En Varios Países En Mayo De 2022?</h3>
        <h5>
            Varios países donde este tipo de viruela no es endémica informaron de casos en mayo de 2022. A 19 de mayo de 2022, se reportaron casos en más de 10 países en áreas no endémicas. Se están investigando casos adicionales. Para obtener la información más reciente, consulte este enlace.

Con la excepción de algunos casos detectados en viajeros que visitaron países endémicos, los casos en áreas no endémicas que no están vinculados a viajes desde países endémicos no son habituales. En la actualidad (desde de mayo de 2022), no existe un vínculo claro entre los casos notificados y los viajes desde países endémicos ni ningún vínculo con animales infectados.

Entendemos que este brote es preocupante para muchos, especialmente para las personas cuyos seres queridos se han visto afectados. Lo primordial en este momento es que haya mayor consciencia sobre la viruela del mono entre las personas que corren mayor riesgo de infección y ofrezcamos consejos sobre cómo limitar una mayor propagación entre las personas. Asimismo, es importante que los trabajadores de la salud pública puedan identificar y atender a los pacientes. Es fundamental entender que no se debe estigmatizar a nadie que se vea afectado por el virus.

La Organización Mundial de la Salud está trabajando para apoyar a los Estados miembros con actividades de vigilancia, preparación y respuesta a los brotes en los países afectados.

También se están realizando estudios en los países afectados para determinar la fuente de infección de cada caso identificado y para brindar atención médica y limitar una mayor propagación.
        </h5>
    </div>
    <br>
    <img src="{% static 'images/mono4.jpeg'%}" alt="">

    <div>
        <h3>¿Existe El Riesgo De Que Se Convierta En Un Brote Más Grande?
        </h3>
        <h5>La viruela del mono generalmente no se considera muy contagiosa porque requiere un contacto físico cercano con alguien que sea contagioso (por ejemplo, piel con piel). El riesgo para el público es bajo. La OMS está respondiendo a este brote como alta prioridad para evitar una mayor propagación; durante muchos años se ha considerado a la viruela del mono un patógeno prioritario. Los casos que estamos viendo actualmente no son típicos porque no hay informaciones de viajes desde países endémicos o animales exportados desde países endémicos. Identificar cómo se está propagando el virus y proteger a más personas para que no se infecten es una prioridad de la agencia de la ONU. Crear conciencia sobre esta nueva situación ayudará a detener una mayor transmisión.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿La Viruela Del Mono Es Una Infección De Transmisión Sexual?</h3>
        <h5>La afección se puede propagar de una persona a otra a través del contacto físico cercano, incluido el contacto sexual. Sin embargo, actualmente se desconoce si se puede propagar por vías de transmisión sexual (por ejemplo, a través del semen o los fluidos vaginales). Sin embargo, el contacto directo de piel con piel con lesiones durante las actividades sexuales puede propagar el virus.

            En ocasiones, pueden aparecer erupciones en los genitales y en la boca, lo que probablemente contribuya a la transmisión durante el contacto sexual. Por lo tanto, el contacto boca con piel podría causar la transmisión cuando hay lesiones en una de estas partes.

            Las erupciones pueden además parecerse a algunas enfermedades de transmisión sexual, como el herpes y la sífilis. Esto puede explicar por qué varios de los casos del brote actual se han identificado entre hombres que buscan atención en clínicas de salud sexual.

            El riesgo de infectarse no se limita a las personas sexualmente activas o a los hombres que tienen sexo con hombres. Cualquiera que tenga contacto físico cercano con alguien que es contagioso está en riesgo. Cualquiera que tenga síntomas que podrían ser viruela del mono debe buscar el consejo de un trabajador sanitario de inmediato.</h5>
    </div>
    <br>
    <br>
    <div>
        <h3>¿Cuál Es La Respuesta De La Organización Mundial De La Salud A Los Mensajes Estigmatizantes Que Circulan En Línea Relacionados Con Enfermedad?</h3>
        <h5>Hemos visto mensajes que estigmatizan a ciertos grupos de personas en torno a este brote. Queremos dejar muy claro que esto es inaceptable.

            En primer lugar, cualquier persona que tenga contacto físico cercano de cualquier tipo con alguien con viruela del mono está en riesgo, independientemente de quiénes sean, qué hagan, con quién elijan tener relaciones sexuales o cualquier otro factor. En segundo lugar, es inadmisible estigmatizar a las personas por una enfermedad. Es probable que el estigma solo empeore las cosas y nos impida terminar con este brote lo más rápido posible. Necesitamos mantenernos unidos para apoyar a cualquiera que se haya infectada o que esté ayudando a cuidar a las personas que no se encuentran bien. Sabemos cómo detener la propagación y cómo podemos protegernos a nosotros mismos y a los demás. El estigma y la discriminación nunca son aceptables. Estamos todos juntos en esto.</h5>
    </div>
    <footer class="main_ft">
        <center>
            <a  class="btn btn-success"href="{% url 'index' %}"> <h2>InfoMx</h2></a>

        </center>
    </footer>
{% endblock %}
